@use '@/styles/spacing.scss' as spacing;

.spacingTop {
  margin-bottom: spacing.$space-8;
}

.spacingMedium {
  margin-bottom: spacing.$space-20;
}

.spacingLarge {
  margin-bottom: spacing.$space-24;
}