@use '@/styles/typography' as typography;
@use '@/styles/color' as color;

.container {
  display: flex;
  align-items: center;
  padding: 0 18px;
  width: 100%;
  height: 64px;
  position: relative;
  border-radius: 10px;
  background-color: color.$purple-400;
  margin-top: 68px;
}

.iconWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.icon {
  fill: color.$purple-100;
}

.schoolName {
  position: absolute;
  left: 56px;
  top: 18px;
  @extend .text-black-100;
  @include typography.body-lg;
  @include typography.font-weight-bold;
}
