@use '@/styles/device.scss' as device;
@use '@/styles/spacing.scss' as spacing;

.container {
  width: 100%;
  padding: spacing.$space-24;
  min-height: 100vh;
  max-width: 600px; // 최대 너비 600px로 제한
  margin: 0 auto; // 중앙 정렬

  @include device.compact {
    padding: spacing.$space-16;
  }
}
