.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.label {
  font-family: 'SUIT';
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
}

.icon {
  display: flex;
  align-items: center;
}
