@use '@/styles/utilities' as utilities;
@use '@/styles/color.scss' as color;
@use '@/styles/spacing.scss' as spacing;

.container {
  @include utilities.full-height-layout;
  background-color: color.$background-color;
}

.content {
  flex: 1;
  overflow-y: auto;
  @include utilities.safe-area-bottom(spacing.$space-48);
}