.container {
  display: flex;
  height: calc(var(--vh) * 1);
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);
}

.imageWrapper {
  margin-top: 10dvh;
}
