@use '@/styles/color.scss' as color;
@use '@/styles/typography' as typography;
@use '@/styles/spacing' as spacing;
@use '@/styles/radius' as radius;

.cardContainer {
  width: 100%;
  background: color.$white;
  @include radius.card-radius;
  @include spacing.card-padding;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing.$space-16;
}

.courseInfo,
.professorInfo {
  color: color.$gray-100;
  @include typography.body-sm;
  @include typography.font-weight-medium;
  word-wrap: break-word;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseNameWrapper {
  display: flex;
  align-items: center;
  gap: spacing.$space-8;
}

.courseName {
  color: color.$black-100;
  @include typography.body-lg;
  @include typography.font-weight-bold;
  word-wrap: break-word;
}

.gradeWrapper {
  display: flex;
  align-items: center;
  gap: spacing.$space-6;
}

.grade {
  @include typography.body-lg;
  @include typography.font-weight-bold;
  line-height: 28.8px;
  word-wrap: break-word;

  // A+, A0, A 모두 포함
  &[data-grade='A+'],
  &[data-grade='A0'],
  &[data-grade='A'] {
    color: color.$grade-a;
  }

  &[data-grade='P'] {
    color: color.$purple-500;
    .completed & {
      color: color.$purple-200;
    }
  }

  // B+, B0, B 모두 포함
  &[data-grade='B+'],
  &[data-grade='B0'],
  &[data-grade='B'] {
    color: color.$grade-b;
  }

  // C+, C0, C 모두 포함
  &[data-grade='C+'],
  &[data-grade='C0'],
  &[data-grade='C'] {
    color: color.$grade-c;
  }

  // D+, D0, D 모두 포함
  &[data-grade='D+'],
  &[data-grade='D0'],
  &[data-grade='D'] {
    color: color.$grade-d;
    .completed & {
      color: color.$gray-100;
    }
  }
  &[data-grade='F'] {
    color: color.$grade-f;
    .completed & {
      color: color.$gray-100;
    }
  }
}

.score {
  color: color.$black-100;
  @include typography.body-sm;
  @include typography.font-weight-medium;
}