@use '/styles/color.scss' as color;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  max-width: 600px; // 최대 너비 600px로 제한
  margin: 0 auto; // 중앙 정렬

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

}