@use '@/styles/color.scss' as color;
@use '@/styles/typography.scss' as typography;

.container {
  width: 100%;
  height: 148px;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.majorType {
  @include typography.body-md;
  @include typography.font-weight-bold;
  color: color.$gray-100;
}

.requirementHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    color: color.$black-100;
    @include typography.body-lg;
    @include typography.font-weight-bold;
  }

  .arrowButton {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.creditInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .earnedMessage {
    @include typography.body-md;
    @include typography.font-weight-bold;

    span {
      color: color.$black-100;
    }

    .highlight {
      color: color.$purple-100;
    }
  }

  .creditProgress {
    color: color.$gray-100;
    @include typography.body-md;
    @include typography.font-weight-bold;
    text-align: right;
  }
}
