@use '@/styles/color.scss' as color;
@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;

.title {
  @include typography.body-md;
  @include typography.font-weight-bold;
  margin-bottom: spacing.$space-14;
  color: color.$gray-500;
}

.spacing {
  margin-bottom: spacing.$space-20;
}
