@use '@/styles/device.scss' as device;
@use '@/styles/spacing.scss' as spacing;

.container {
  display: flex;
  flex-direction: column;
  padding: spacing.$space-20;

  @include device.compact {
    padding: spacing.$space-16;
  }
  margin-bottom: spacing.$space-40;
}
