.container {
  display: flex;
  height: calc(var(--vh) * 1);
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  padding-bottom: env(safe-area-inset-bottom);
}

.gap {
    margin-top: 100px;
}