@use '@/styles/color.scss' as color;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px; // 최대 너비 600px로 제한
  margin: 0 auto; // 중앙 정렬
}

.content {
  padding: 0 20px;
}
