@use '@/styles/color.scss' as color;
@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;
@use '@/styles/utilities.scss' as utilities;

.container {
  @include utilities.funnel-page-spacing;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$space-12;
  margin-top: 68px; /* 68px - resync 페이지 특정 값, 토큰화 보류 */
}

.errorMessage {
  margin-top: spacing.$space-12;
  text-align: left;

  p {
    margin: 0;
    color: color.$red-100;

    @include typography.body-md;
    @include typography.font-weight-regular;
  }
}
