@use '@/styles/color.scss' as color;
@use '@/styles/typography.scss' as typography;

.container {
  padding-top: 66px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 68px;
}

.errorMessage {
  margin-top: 12px;
  text-align: left;

  p {
    margin: 0;
    color: color.$red-100;

    @include typography.body-md;
    @include typography.font-weight-regular;
  }
}
