@use '@/styles/utilities' as utilities;
@use '@/styles/typography' as typography;
@use '@/styles/color' as color;
@use '@/styles/spacing' as spacing;

.item {
  display: block;
  width: 100%;
  text-align: left;
  @include utilities.card-base;
  border: 1px solid color.$gray-300;
}

.title {
  @include typography.body-md;
  @include typography.font-weight-semibold;
  margin-top: spacing.$space-8;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  @include typography.body-xs;
  color: color.$gray-500;
  margin-top: spacing.$space-4;
}