@use '@/styles/spacing.scss' as spacing;
@use '@/styles/utilities.scss' as utilities;

.mainBanner {
  max-width: 335px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; // 가운데 정렬이 필요한 경우
}

.mainBannerContainer {
  width: 100%;
  @include utilities.flex-center;
}
