@use '@/styles/color' as color;
@use '@/styles/typography' as typography;
@use '@/styles/spacing' as spacing;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: spacing.$space-12;
  padding: spacing.$space-66 0;
}

.text {
  @include typography.body-sm;
  color: color.$gray-500;
}