.container {
  min-height: 100vh;
  background-color: #f4f4f9;
  padding: 1.25rem;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #2b2b2b;
  margin-bottom: 1rem;
}

.areaCard {
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &Content {
    padding: 1.25rem;
    border-radius: 1rem;

    &Completed {
      background-color: #2b2b2b;
    }

    &Incomplete {
      background-color: white;
    }
  }
}

.areaHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.areaInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.areaType {
  font-size: 1.125rem;
  font-weight: bold;

  &Completed {
    color: #9f94ff;
  }

  &Incomplete {
    color: #2b2b2b;
  }
}

.credits {
  &Completed {
    color: white;
  }

  &Incomplete {
    color: #a3a2b1;
  }
}

.checkmark {
  width: 18px;
  height: 18px;
  background-color: #7f71fb;
  display: flex;
  align-items: center;
  justify-content: center;

  &Icon {
    width: 9.33px;
    height: 6.99px;
    border: 1.65px solid white;
  }
}

.coursesList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.courseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseName {
  font-weight: bold;

  &Completed {
    color: white;
  }

  &Incomplete {
    color: #2b2b2b;
  }
}

.courseInfo {
  display: flex;
  gap: 1rem;
}

.courseCredits {
  &Completed {
    color: #9f94ff;
  }

  &Incomplete {
    color: #7f71fb;
  }
}

.grade {
  &A {
    color: #ff6f6f;
  }

  &B {
    color: #f2f881;
  }

  &C {
    color: #45dea6;
  }

  &Default {
    color: #a3a2b1;
  }
}
