.wrapper {
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}

.statusBar {
  height: 44px;
  padding: 14px 14px 12px 20px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #202020;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 700;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 141px 38px 0;
}

.videoContainer {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContainer {
  text-align: center;

  h1 {
    color: #2B2B2B;
    font-size: 24px;
    font-family: 'Paperlogy';
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 46px;
  }

  p {
    color: #616168;
    font-size: 16px;
    font-family: 'SUIT';
    font-weight: 400;
    line-height: 25.6px;
  }
}

.bottomBar {
  height: 34px;
  padding: 21px 0 8px;
  display: flex;
  justify-content: center;
}

.indicator {
  width: 135px;
  height: 5px;
  background: #202020;
  border-radius: 100px;
}

.textContainer {
  text-align: center;
  transition: opacity 0.3s ease;

  h1 {
    color: #2B2B2B;
    font-size: 24px;
    font-family: 'Paperlogy';
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 46px;
  }

  p {
    color: #616168;
    font-size: 16px;
    font-family: 'SUIT';
    font-weight: 400;
    line-height: 25.6px;
    white-space: pre-line;
  }

  &.out {
    opacity: 0;
  }

  &.in {
    opacity: 1;
  }
}

.time {
  color: #202020;
  font-size: 15px;
  font-family: 'Pretendard';
  font-weight: 700;
}